# WEB SCRAPING ASSIGNMENT 4

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementClickInterceptedException
from bs4 import BeautifulSoup
import requests
import time

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [118]:
driver = webdriver.Chrome('chromedriver.exe')

In [119]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [120]:
# Lists
Rank = [] 
Name = [] 
Artist = [] 
Upload_date = [] 
Views = []


try: # Scrapping Rank
    for i in driver.find_elements_by_xpath("//div/table[3]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException as e:
    print("No such element present")
    
try: # Scrapping Name
    for i in driver.find_elements_by_xpath("//div/table[3]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException as e:
    print("No such element present")
    
try: # Scrapping Artist
    for i in driver.find_elements_by_xpath("//div/table[3]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException as e:
    print("No such element present")
    
try: # Scrapping Upload date
    for i in driver.find_elements_by_xpath("//div/table[3]/tbody/tr/td[4]"):
        Upload_date.append(i.text)
except NoSuchElementException as e:
    print("No such element present")
    
try: # Scrapping Views
    for i in driver.find_elements_by_xpath("//div/table[3]/tbody/tr/td[5]"):
        Views.append(i.text)
except NoSuchElementException as e:
    print("No such element present")

In [122]:
#creating data frame 
youtube_videos=pd.DataFrame({"Rank":Rank,"Name":Name,"Artist":Artist,"Uplode_Date":Upload_date,"Views":Views})

In [123]:
youtube_videos.head()

,Rank,Name,Artist,Uplode_Date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,9.04,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.46,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.58,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.40,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.19,"April 6, 2015"

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [100]:
driver = webdriver.Chrome('chromedriver.exe')

In [101]:
url = 'https://www.bcci.tv/'
driver.get(url)

In [102]:
try:
    bcci=driver.find_element_by_xpath("/html/body/footer/div/nav/ul/li[2]/ul/li[1]/a")
    bcci.click()
except NoSuchElementException as e:
    print("Element not found")

In [104]:
# Lists
Match_title = []
Series = []
Place = []
Date = []
Time = []

try: # Scraping Match title
    for i in driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]'):
        Match_title.append(i.text)
except NoSuchElementException as e:
    Match_title.append("No more element found")
    
try: # Scraping series
    for i in driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__tournament-label u-truncated"]'):
        Series.append(i.text)
except NoSuchElementException as e:
    Series.append("No more element found")
    
try: # Scraping place
    for i in driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span'):
        Place.append(i.text)
except NoSuchElementException as e:
    Place.append("No more element found")
    
try: # Scraping date
    for i in driver.find_elements_by_xpath('//div/span[@class="fixture__date"]|//div/span[@class="fixture__month"]'):
        Date.append(i.text)
except NoSuchElementException as e:
    Date.append("No more element found")    
    
try: # Scraping time
    for i in driver.find_elements_by_xpath('//div/span[@class="fixture__time"]'):
        Time.append(i.text)
except NoSuchElementException as e:
    print("No element found")

In [113]:
Date ## not in a same length

['28',
 'JULY',
 '29',
 'JULY',
 '04',
 'AUGUST',
 '12',
 'AUGUST',
 '25',
 'AUGUST',
 '02',
 'SEPTEMBER',
 '10',
 'SEPTEMBER']

In [114]:
finaldate=[]
for i in range(0,len(Date),2):
    finaldate.append(str(Date[i])+'-'+Date[i+1])

In [115]:
finaldate

['28-JULY',
 '29-JULY',
 '04-AUGUST',
 '12-AUGUST',
 '25-AUGUST',
 '02-SEPTEMBER',
 '10-SEPTEMBER']

In [116]:
#creating data frame 
BCCI=pd.DataFrame({"Match_title":Match_title,"Series":Series,"Place":Place,"Date":finaldate,"Time":Time})

In [117]:
BCCI

,Match_title,Series,Place,Date,Time
0,2nd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",28-JULY,20:00 IST
1,3rd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",29-JULY,20:00 IST
2,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04-AUGUST,15:30 IST
3,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12-AUGUST,15:30 IST
4,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25-AUGUST,15:30 IST
5,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02-SEPTEMBER,15:30 IST
6,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10-SEPTEMBER,15:30 IST

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [129]:
driver = webdriver.Chrome('chromedriver.exe')

In [130]:
url = 'https://www.guru99.com/'
driver.get(url)

In [131]:
details = driver.find_element_by_xpath("//ul[@id='java_technologies']/li[3]")
details.click()

In [136]:
selenium = driver.find_element_by_xpath('/html/body/div[2]/section[3]/div/div[1]/main/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a')
selenium.click()

In [146]:
#Lists
Name = []
Description = []

try: # Scraping Name
    for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]"):
        Name.append(i.text)
except NoSuchElementException as e:
    print("No such element present")
    
try: # Scraping description
    for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]"):
        Description.append(i.text)
except NoSuchElementException as e:
    print("No such element present")

In [148]:
#creating data frame 
guru99 = pd.DataFrame({"Name":Name,"Description":Description})

In [150]:
guru99.head()

,Name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [9]:
driver = webdriver.Chrome('chromedriver.exe')

In [10]:
url = 'http://statisticstimes.com/'
driver.get(url)

In [16]:
economy = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()
time.sleep(2)

In [17]:
india = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [18]:
ind_eco = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
ind_eco.click()

In [50]:
#Lists
Rank = []
State = []
GSDP1 = []
GSDP2  = []
Share = []
GDP_billion = []


try: # Scraping Rank
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException as e:
    print("No such element present")
    
try: # Scraping Name
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException as e:
    print("No such element present")

    
try: # Scraping GSDP1
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException as e:
    print("-")
    
try: # Scraping GSDP2
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException as e:
    print("-")

try: # Scraping share
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException as e:
    print("-")    
    
    
try: # Scraping GDP billion
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException as e:
    print("-")

In [55]:
#creating data frame 
stats = pd.DataFrame({"Rank":Rank,"State":State,"GSDP at current price (19-20)": GSDP1,"GSDP at current price (18-19)": GSDP2,"Share": Share,"GDP($ billion)": GDP_billion})
stats.head()

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share,GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [70]:
driver = webdriver.Chrome('chromedriver.exe')

In [71]:
url = 'https://github.com/'
driver.get(url)

In [72]:
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")
explore.click()
time.sleep(2)

trending = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
trending.click()

In [118]:
#List
Repository = []
Repository_des = []
Contributors = []
Language = []


try: # Scraping repository
    for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
        Repository.append(i.text)
except NoSuchElementException as e:
    print("-")
    
try: # Scraping Repository description
    for i in driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']"):
        Repository_des.append(i.text)
except NoSuchElementException as e:
    print("-")
    
    
try: # Scraping Contributors count
    for i in driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/div[2]/a[2]"):
        Contributors.append(i.text)
except NoSuchElementException as e:
    print("-")
    
    
try: # Scraping language
    for i in driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']"):
        Language.append(i.text)
except NoSuchElementException as e:
    print("-")

In [131]:
#creating data frame 
github = pd.DataFrame({"Repository title":Repository[:22],"Repository description":Repository_des[:22],"Contributors count": Contributors[:22],"Language used": Language[:22]})
github.head()

,Repository title,Repository description,Contributors count,Language used
0,SJang1 / korea-covid-19-remaining-vaccine-macro,잔여백신 조회 및 예약 매크로,103,Python
1,bradtraversy / 50projects50days,"50+ mini web projects using HTML, CSS & JS","1,727",CSS
2,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"26,214",JavaScript
3,bytedance / flutter_ume,UME is an in-app debug kits platform for Flutt...,50,Dart
4,MoonBegonia / ninja,人人可用的开源数据可视化分析工具。,160,JavaScript

6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [8]:
driver = webdriver.Chrome('chromedriver.exe')

In [9]:
url = 'https://www.billboard.com/'
driver.get(url)

In [11]:
chart = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/header/div/ul/li[1]/a")
chart.click()
time.sleep(2)

top100 = driver.find_element_by_xpath("/html/body/main/div[6]/div/div[2]/div[2]/a[1]/div/div[1]")
top100.click()

In [49]:
#Lists
Song = []
Artist = []
Last = []
Peak = []
Weeks = []

try: # Scraping song name
    for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
        Song.append(i.text)
except NoSuchElementException as e:
    print("-")
    
try: # Scraping artist
    for i in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
        Artist.append(i.text)
except NoSuchElementException as e:
    print("-")
    
    
try: # Scraping last week name
    for i in driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[2]"):
        Last.append(i.text)
except NoSuchElementException as e:
    print("-")
    
    
try: # Scraping peak rank
    for i in driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[3]"):
        Peak.append(i.text)
except NoSuchElementException as e:
    print("-")
    
try: # Scraping weeks on board
    for i in driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[4]"):
        Weeks.append(i.text)
except NoSuchElementException as e:
    print("-")

In [51]:
#creating data frame 
billboard = pd.DataFrame({'Song Name' : Song[:45],
    'Artist Name' : Artist[:45],
    'Last Week Rank' : Last[:45],
    'Peak Rank': Peak[:45],
    'Weeks on board' : Weeks[:45]})
billboard.head()

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on board
0,Butter,BTS,7,1,9
1,Good 4 U,Olivia Rodrigo,2,1,10
2,Levitating,Dua Lipa Featuring DaBaby,2,42,2
3,Stay,The Kid LAROI & Justin Bieber,3,3,4
4,Kiss Me More,Doja Cat Featuring SZA,3,15,16

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [55]:
driver = webdriver.Chrome('chromedriver.exe')

In [56]:
url = 'https://www.naukri.com/'
driver.get(url)

In [57]:
rec = driver.find_element_by_xpath('/html/body/div[1]/div[1]/div/ul[1]/li[2]/a/div').click()
driver.switch_to_window(driver.window_handles[1]) ## switching window to make the window primary

<ipython-input-57-e333a3576890>:2: DeprecationWarning: use driver.switch_to.window instead
  driver.switch_to_window(driver.window_handles[1])

In [58]:
search = driver.find_element_by_xpath("//div[@class='inpWrap']/input")
search

In [59]:
## write on search bar
search.send_keys('Data Science')

In [63]:
## do click using xpath function
search_btn = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [75]:
# Lists
Name = []
Des = []
Com = []
Skills = []
Loc = []

try: # Scraping name
    for i in driver.find_elements_by_xpath("//p[@class='highlightable']/a[1]/span"):
        Name.append(i.text)
except NoSuchElementException as e:
    print("-")

    
try: # Scraping designation
    for i in driver.find_elements_by_xpath("//p[@class='highlightable']/span[1]"):
        Des.append(i.text)
except NoSuchElementException as e:
    print("-")
        
try: # Scraping company
    for i in driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]"):
        Com.append(i.text)
except NoSuchElementException as e:
    print("-")
    
try: # Scraping Skills
    for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
        Skills.append(i.text)
except NoSuchElementException as e:
    print("-") 
    
try: # Scraping Location
    for i in driver.find_elements_by_xpath("//p[@class='highlightable']/span[2]"):
        Loc.append(i.text)
except NoSuchElementException as e:
    print("-")

In [80]:
print(len(Name), len(Des), len(Loc), len(Skills), len(Com))

50 50 48 50 50

In [81]:
#creating data frame 
naukri = pd.DataFrame({'Name' : Name[:45],
    'Designation' : Des[:45],
    'Company' : Com[:45],
    'Skills': Skills[:45],
    'Location' : Loc[:45]})
naukri.head()

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [94]:
driver = webdriver.Chrome('chromedriver.exe')

In [95]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)

In [104]:
# Lists
Book_name = []
Author_name = []
Volume_sold = []
Publisher = []
Genre = []

try: # Scraping book name
    for i in driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[2]"):
        Book_name.append(i.text)
except NoSuchElementException as e:
    print("-")

    
try: # Scraping Author name
    for i in driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[3]"):
        Author_name.append(i.text)
except NoSuchElementException as e:
    print("-")
        
try: # Scraping volume sold
    for i in driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[4]"):
        Volume_sold.append(i.text)
except NoSuchElementException as e:
    print("-")
    
try: # Scraping Publisher
    for i in driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[5]"):
        Publisher.append(i.text)
except NoSuchElementException as e:
    print("-") 
    
try: # Scraping Genre
    for i in driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[6]"):
        Genre.append(i.text)
except NoSuchElementException as e:
    print("-")

In [106]:
print(len(Book_name), len(Author_name), len(Volume_sold), len(Publisher), len(Genre))

100 100 100 100 100

In [108]:
#creating data frame 
Books = pd.DataFrame({'Book Name' : Book_name,
    'Author Name' : Author_name,
    'Volume Sold' : Volume_sold,
    'Publisher': Publisher,
    'Genre' : Genre})
Books.head()

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas

9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [109]:
driver = webdriver.Chrome('chromedriver.exe')

In [110]:
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [116]:
# Lists
name = []
year = []
genre = []
time = []
rat = []
vot = []

try: # Scraping Name
    for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
        name.append(i.text)
except NoSuchElementException as e:
    print("-")

    
try: # Scraping year span
    for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
        year.append(i.text)
except NoSuchElementException as e:
    print("-")
        
try: # Scraping genre
    for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p/span[5]"):
        genre.append(i.text)
except NoSuchElementException as e:
    print("-")
    
try: # Scraping Run time
    for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p/span[3]"):
        time.append(i.text)
except NoSuchElementException as e:
    print("-") 
    
try: # Scraping Ratings
    for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]"):
        rat.append(i.text)
except NoSuchElementException as e:
    print("-")
    
try: # Scraping votes
    for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]"):
        vot.append(i.text)
except NoSuchElementException as e:
    print("-")

In [117]:
#creating data frame 
imdb = pd.DataFrame({'Name' : name,
    'Year Span' : year,
    'Genre' : genre,
    'Run Time': time,
    'Ratings' : rat,
    'Votes': vot})
imdb.head()

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,848,113"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"885,651"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"885,685"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"266,347"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"226,940"

10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [44]:
driver = webdriver.Chrome('chromedriver.exe')

In [45]:
url = 'https://archive.ics.uci.edu/'
driver.get(url)

In [46]:
alldata = driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b').click()

In [66]:
# lists
name = []
data = []
task = []
attr = []
ins = []
no_attr = []
year = []
   
try: # Scraping Name
    for i in driver.find_elements_by_xpath("//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]"):
        name.append(i.text)
except NoSuchElementException as e:
    print("-")

    
try: # Scraping data type
    for i in driver.find_elements_by_xpath("//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]"):
        data.append(i.text)
except NoSuchElementException as e:
    print("-")
        
try: # Scraping task
    for i in driver.find_elements_by_xpath("//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]"):
        task.append(i.text)
except NoSuchElementException as e:
    print("-")
    
try: # Scraping attribute type
    for i in driver.find_elements_by_xpath("//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]"):
        attr.append(i.text)
except NoSuchElementException as e:
    print("-") 
    
try: # Scraping no of instance
    for i in driver.find_elements_by_xpath("//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]"):
        ins.append(i.text)
except NoSuchElementException as e:
    print("-")
    
try: # Scraping no of attribute
    for i in driver.find_elements_by_xpath("//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]"):
        no_attr.append(i.text)
except NoSuchElementException as e:
    print("-")
    
try: # Scraping no of attribute
    for i in driver.find_elements_by_xpath("//table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]"):
        year.append(i.text)
except NoSuchElementException as e:
    print("-")

In [68]:
#creating data frame 
uci = pd.DataFrame({'Dataset Name': name[1:],
    'Data Type': data[1:],
    'Task' : task[1:],
    'Attribute Type': attr[1:],
    'No of Instances' :ins[1:],
    'No of Attribute': no_attr[1:],
    'Year': year[1:]
    })
uci.head()

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998